<% layout("/layout/boilerplate.ejs")%>
<body>
    <%- include('./includes/navbar.ejs') %>
    <%- include('./includes/flashes.ejs') %>
    <div class="mt-5">
        <h2>Paper Contributions</h2>
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Code</th>
                    <th onclick="sortTable(1)">Paper's name</th>
                    <th onclick="sortTable(2)">View Papers</th>
                    <th onclick="sortTable(3)">Remove</th>
                </tr>
            </thead>
            <tbody>
                <%for(let p of paper){%>
                    <tr>
                        <td><%=p.code%></td>
                        <td><%=p.papername%></td>
                        <td><a href="<%=p.link.url%>">View Paper</a></td>
                        <td><form method="post" class="form-group" action="/admin/contribution-paper/<%=p._id%>/<%=p.code%>?_method=delete"><button style="background-color: red; margin-top: 1rem;" onclick="alert(`Did You want to remove this contributer?`)">Remove</button></form></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 3rem; margin-bottom: 5rem; opacity: 0.6;">
        <%if(!paper.length){%>
            <div style="text-align: center; margin-top: 6rem; margin-bottom: 5rem; opacity: 0.6;"><h3>No Paper Contro Are Available Now</h3></div>
            <%}%>
    </div>


    <div class="mt-5">
        <h2>Syllabus Contribution</h2>
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Code</th>
                    <th onclick="sortTable(1)">Subject's name</th>
                    <th onclick="sortTable(2)">View Syllabus</th>
                    <th onclick="sortTable(3)">Remove</th>
                </tr>
            </thead>
            <tbody>
                <%for(let sy of syllabus){%>
                    <tr>
                        <td><%=sy.code%></td>
                        <td><%=sy.papername%></td>
                        <td><a href="<%=sy.link.url%>">View Paper</a></td>
                        <td><form method="post" class="form-group" action="/admin/contribution-syllabus/<%=sy._id%>/<%=sy.code%>?_method=delete"><button style="background-color: red; margin-top: 1rem;" onclick="alert(`Did You want to remove this contributer?`)">Remove</button></form></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <div style="text-align: center; margin-top: 3rem; margin-bottom: 5rem; opacity: 0.6;">
        <%if(!syllabus.length){%>
            <div style="text-align: center; margin-top: 6rem; margin-bottom: 5rem; opacity: 0.6;"><h3>No Syllabus Contro Are Available Now</h3></div>
            <%}%>
    </div>
      <%- include('./includes/footer.ejs') %>
    <script src="./app.js"></script> 
    <script src="/vip.js"></script>
    
</body>