<% layout("/layout/boilerplate.ejs")%>
    <body>
        <%- include('./includes/navbar.ejs') %>
        <%- include('./includes/flashes.ejs') %>
    <div id="quote">
        <div id="quote-content">
            <h1>स्वागत है <br><img src="/imgs/welcome-back.png" class="front-image" alt=""style="width:3rem; margin-left:1rem"><% for( let index = 0; index < 2; index++ ) { %>
            &nbsp;<% } %>आपके V.B.S.P University Paper Hub में</h1>
            <h3></h3>
            <h4>By:</h4>
         </div>
        <div id="quote-imgs">
            <img class="front-image" src="/imgs/quote-img.png" alt="">
        </div>
    </div>

    <div id="s">
        <h1 class="destination">Search Your Paper</h1>
        <div id="search">>
            <div id="search-form">
                <h2>Search Here</h2>
                <form method="post" class="form-container" action="/pph/search">
                    <div>
                        <label for="cource">Cource:</label>
                        <select id="course" onchange="nextchoose()" name="course" required>
                            
                            <option value="" selected disabled>Select Your Cource</option>
                            <%for(course of courses){%>
                            <option value=<%=course._id%>><%=course.course%></option>
                            <%}%>
                        </select>
                    </div>
                    <div>
                        <label for="department">Department</label>
                        <select id="department" name="depts" required>
                            <option value="" selected disabled>Select Your Department</option>
                            
                        </select>
                    </div>
                    <div><button>Search</button></div>
                </form>
            </div>
            <div id="search-imgs">
                <img src="/imgs/searchp.jpg" alt="comment" style="width: 500px;">
            </div>
        </div>
    </div>
    <div id="a">
    <h1 class="destination">About Our Website</h1>
    <div id="about">
        <div id="p"></div>
        <div id="r"><p>Welcome to our website, your ultimate destination for academic success! Access previous year papers to excel in your studies. Our platform also allows verified educators and professionals to contribute and upload authentic papers, ensuring quality resources for all students. Empower your learning journey with our comprehensive database of past papers and trusted contributions from experts
            <br>Unlock the keys to success with our extensive collection of previous year papers, meticulously curated to aid your preparation. Join a community of learners where verified individuals, including educators and subject matter experts, contribute their knowledge through authentic uploads. Experience the confidence that comes with accessing reliable resources tailored to your academic needs. Start your journey towards excellence today, right here on our platform."
        </p></div>
            <div id="q"></div>
    </div>
    
</div>
    
<div id="c">
    <h1 class="destination">Add your Comment</h1>
    <div id="comment">
        <div id="comment-imgs">
            <img src="/imgs/comment.jpg" alt="comment">
        </div>
        <div class="comment-container">
            <h2>Leave a Comment</h2>
             <form method="post" action="/pph/comment">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Your name" required>

                <label for="c_d_y">Identify yourself</label>
                <input type="text" placeholder=" Enter your Course,years,Department etc" id="c_d_y" name="course_year_department" required>
        
                <label for="comment-real">Your Comment:</label>
                <textarea id="comment-real" name="comment" placeholder="Add comment or suggestion for improve Paper Hub" rows="3" required></textarea>
                
                <button>Submit</button>
            </form>
        </div>
    </div>
    </div>
    <div id="footer"></div>

    <div class="overlay"></div>
    <div class="popup" >
        <span class="close">&times</span>
        <div class="card">
          <img src="\imgs\prof.png" alt="proffesor" />
          <div class="card-content">
          <h3>Are You Want To Contribute ?</h3>
          <div class="btn-container">
          <a href="/pph/vip-login" class="card-btn">Login</a>
          <a href="/pph/vip-register" class="card-btn">Register</a>
          </div>
        </div>
        </div>
      </div>

      <%- include('./includes/footer.ejs') %>

       

      
           
</body>
<script src="/app.js"></script>
